{% extends "base.html" %}


{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ task.name }}</h1>
        {% if request.user == task.author or request.user.is_superuser %}
            <div class="d-flex gap-2 ms-auto">
                <a class="btn btn-primary" href="{% url 'operation:task-update' pk=task.id %}">Update</a>
                <a class="btn btn-primary" href="{% url 'operation:task-delete' pk=task.id %}">Delete</a>
            </div>
        {% endif %}
    </div>
    <p>{{ task.description }}</p>
    <p>Deadline: {{ task.deadline }}</p>
    {% if task.is_completed %}
        <p>Task is completed</p>
    {% else %}
        <p>Task not completed</p>
    {% endif %}
    <p>Priority: {{ task.get_priority_display }}</p>
    <p>Task type: {{ task.task_type }}</p>
    {% for user in task.assignees.all %}
        <h3><a href="{% url 'people:worker-detail' pk=user.id %}">{{ user.username }}</a></h3>
    {% endfor %}
    <input type="button" value="Back" class="btn btn-secondary" onclick="history.back()">
{% endblock %}
