{% extends "base.html" %}


{% block content %}
    <h1>
        {{ project.name }}
        {% if request.user == task.author or request.user.is_superuser %}
            <a href="{% url 'organization:project-update' pk=project.id %}">
                Update
            </a>
            <a href="{% url 'organization:project-delete' pk=project.id %}">
                Delete
            </a>
        {% endif %}
    </h1>
    {% for team in project.teams.all %}
        <h3><a href="{% url 'organization:team-detail' pk=team.id %}">{{ team.name }}</a></h3>
        {% for worker in team.workers.all %}
            <h4><a href="{% url 'people:worker-detail' pk=worker.id %}">{{ worker.username }}</a></h4>
        {% endfor %}
    {% endfor %}
    <p>{{ project.description }}</p>
    {% for task in project.tasks.all %}
        <p><a href="{% url 'operation:task-detail' pk=task.id %}">{{ task.name }}</a></p>
    {% endfor %}
    <input type="button" value="Back" class="btn btn-secondary" onclick="history.back()">
{% endblock %}
