{% extends "base.html" %}

{% block title %}
    <title>Team List</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Team List</h1>
            <a href="{% url 'organization:team-create' %}" class="btn btn-primary">
                Create
            </a>
    </div>
    {% if team_list %}
        <ul>
            {% for team in team_list %}
                <li>
                    <h2><a href="{% url 'organization:team-detail' pk=team.id %}">{{ team.name }}</a></h2>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no teams at the moment.</p>
    {% endif %}
{% endblock %}