{% extends "base.html" %}

{% block title %}
    <title>Worker List</title>
{% endblock %}

{% block content %}
    <h1>
        Worker List
        <a href="{% url 'people:worker-create' %}">
            Create
        </a>
    </h1>
    {% if worker_list %}
        <form action="" method="get">
            {{ search_form }}
            <input type="submit">
        </form>
        <ul>
            {% for worker in worker_list %}
                <li>
                    <h2><a href="{% url 'people:worker-detail' pk=worker.id %}">{{ worker.username }}</a></h2>
                    <p>{{ worker.first_name }} {{ worker.last_name }}</p>
                    <p>Email: {{ worker.email }}</p>
                    <p>Position: {{ worker.position }}</p>
                </li>
            {% endfor %}
        </ul>
{% else %}

    {% endif %}
{% endblock %}