{% extends "base.html" %}


{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ worker.username }}</h1>
        <div class="d-flex gap-2 ms-auto">
            <a class="btn btn-primary" href="{% url 'people:worker-delete' pk=worker.id %}">Delete</a>
        </div>
    </div>
    <p>{{ worker.first_name }} {{ worker.last_name }}</p>
    <p>Email: {{ worker.email }}</p>
    <p>Position: {{ worker.position }}</p>
    {% for task in worker.task_set.all %}
        <h3>
            <a href="{% url 'operation:task-detail' pk=task.id %}">{{ task.name }}</a> - {{ task.deadline }}
            {% if task.is_completed %}
                This task completed
            {% else%}
                This task uncompleted
            {% endif %}
        </h3>
    {% empty %}
        <h3>The user has no uncompleted tasks</h3>
    {% endfor %}
    <input type="button" value="Back" class="btn btn-secondary" onclick="history.back()">
{% endblock %}
