<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <nav class="top-0 z-index-fixed position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="d-flex justify-content-end">
              <form method="post" action="{% url 'logout' %}" class="d-flex align-items-center">
                {% csrf_token %}
                <button type="submit" class="btn btn-link d-flex align-items-center text-decoration-none p-1" style="font-size: 0.9rem;">
                  <i class="fa fa-sign-out me-1" style="font-size: 1rem;"></i>
                  <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout">Logout</span>
                </button>
              </form>
            </div>
          </div>
        </nav>
    </div>
</div>
