{% extends "base.html" %}


{% block content %}
    <h1>
        {{ project.name }}
    </h1>
    {% for team in project.teams.all %}
        <h3>{{ team.name }}</h3>
        {% for worker in team.workers.all %}
            <h4><a href="{% url 'workspace:worker-detail' pk=worker.id %}">{{ worker.username }}</a></h4>
        {% endfor %}
    {% endfor %}
    <p>{{ project.description }}</p>
    {% for task in project.tasks.all %}
        <p><a href="{% url 'workspace:task-detail' pk=task.id %}">{{ task.name }}</a></p>
    {% endfor %}
    <input type="button" value="Back" onclick="history.back()">
{% endblock %}
