{% extends "base.html" %}

{% block title %}
    <title>Team List</title>
{% endblock %}

{% block content %}
    <h1>
        Team List
        <a href="{% url 'workspace:team-create' %}">
            Create
        </a>
    </h1>
    {% if team_list %}
        <ul>
            {% for team in team_list %}
                <li>
                    <h2><a href="{% url 'workspace:team-detail' pk=team.id %}">{{ team.name }}</a></h2>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no projects at the moment.</p>
    {% endif %}
{% endblock %}